.centertext {
    text-align: center;
    background-color: white;
}

.background-image {
    background-image: url(https://www.raspberrypi.org/app/uploads/2019/11/frogger-screenshot.png);
    
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.description {
    color: white;
    background: black;
    margin-top: 200px;
    line-height: 2.3;
    text-align: center;
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 10px dotted limegreen;
        font-family: "Times New Roman", Times, serif;
    font-size: 28px;
}

.title {
    background: black;
    color: white;
    margin-top: 200px;
    position: relative;
    top: 40px;
    padding: 20px;
    border-radius: 25px;
    font-size: 200%;
    font-family: 'Rowdies', cursive;
    font-weight: 700;
}

#contact{
    margin-left: 40px;
}

.nav{
    position: absolute;
    top: 0px;
    left: 0px;
    border: white;
   }

.navbar-toggler-icon{
    color: white;
}

   h1 {
       text-align: center;
   }
      
                      
   .navbar-dark .navbar-nav .nav-link {
    color: white;
  }

#part{
    background-color: black;
    position: relative;
    bottom: -230px;
    border: 6px solid white;
}

#video{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-color: black;
}


.card {
    float: left;
    margin-right: 30px;
}

.wrap{
    padding-left: 125px;
    padding-top: 30px;
}
.footer, .push{
    height: 100px;
    background-color: black;
    margin-top: 500px;
    text-align: center;
    color: white;
}
.card-img-top {
    width:  200px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}


:root {
    --animate-delay: 2s;
    --animate-duration: 10s;
  }

  .animate__animated .animate__bounceInLeft{
    --animate-delay: 5s;
    color: white;
}